/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  z-index: -10;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-weight: 100;
}

.first {
  padding: 2rem;
  text-align: center;
}
.first p {
  font-weight: 100;
  font-size: 2rem;
}

.first h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.second {
  text-align: left;
  position: relative;
  flex-direction: column;
  align-items: baseline;
  display: flex;
}

.second h2 {
  font-size: 3.5rem;
  margin-bottom: 30px;
  font-family: 'DM Sans', sans-serif;
}

.second p {
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.second-container {
  width: 1200px;
  margin: auto;
  display: flex;
  z-index: 1;
  opacity: 0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul li {
  line-height: 1.3rem;
  margin-left: 10px
}

.second-container .content {
  width: 500px;
}

.third {
  text-align: left;
  position: relative;
  flex-direction: column;
  display: flex;
}

.third h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-family: 'DM Sans', sans-serif;
}

.third p {
  line-height: 1.1;
  margin-bottom: 1rem;
  color: #333;
}

.third-container {
  width: 1200px;
  z-index: 1;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: 0;
}

.third-container .content {
  width: 500px;
  margin-left: 30px;
}


.fourth {
  position: relative;
  flex-direction: column;
  display: flex;
  text-align: center;  
  height: 100vh;
}

.fourth h2 {
  font-size: 3.5rem;
  margin-bottom: 30px;
  font-family: 'DM Sans', sans-serif;
}

.fourth-container {
  width: 1200px;
  z-index: 1;
  margin: 0px auto;
  display: flex;
  opacity: 0;
}

.fourth-container .content {
  margin: auto;
  margin-top: 50px;
}

.fourth-container .customize, .button--exit {
  width: 200px;
  color: #fff;
  padding: 10px;
  background-color: #000;
  border-radius: 50px;
  border: 0;
  margin-top: 20px;
}

.customizer--container{
  position: fixed;
  top: 50%;
  display: none;
  transform: translateY(-50%);
}

.strap--colors{
  list-style: none;
}

.button--colors{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--colors:hover{
  filter: drop-shadow(0 0 0.75rem rgba(28, 17, 52, 0.704));
  transform: scale(1.5);
}

.blue {
  background-color: rgb(15, 66, 144);
}

.orange{
  background-color: rgb(229, 128, 22);
}

.red{
  background-color: rgb(231, 34, 34);
}

.white{
  background-color: rgb(255, 255, 255);
}

.button--exit{
  margin-bottom: 5%;
  z-index: 5;
  position: fixed;
  bottom: 0;
  display: none;
  transition: all 0.8s ease 0s;
}

.customizer-options {
  color: #fff;
  background-color: #000;
  width: 100px;
  padding: 10px;
  margin: 20px 5px 0 5px;
  border: 0;
  border-radius: 20px;
  display: block;
}